{% extends 'base.html' %}
{% block title %}
  About the project
{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">Data Climatic</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">This project is fully for educational purposes. My main goal was to study the python's web-framework Flask,
              but I actually spend more time on front-end part. The weather app uses data from OpenWeatherMap API. You can read more about it on <a href="https://openweathermap.org">their website</a>. </p>
          </div>
        </div>
      </div>
    </div>
<br><br><br><br><br>
{% endblock %}