{% extends 'base.html' %}
{% block title %}
  Data Climatic
{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">What is the weather like?</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Find the current weather data for any city using search button at the right top! Just type the name of the city to access the most accurate weather data.</p>
          </div>
        </div>
      </div>
    </div>
<br><br><br><br><br>
{% endblock %}